<div id="wrapper">
	<div class="5grid-layout">
		<div class="row">
			<div id="banner" class="12u">
				<div class="container"><%= link_to image_tag("pics04.jpg", alt: "绿康"), '#' %></a></div>
			</div>
		</div>
	</div>
	<div id="page">
		<div class="5grid-layout">
			<div class="row">
				<div class="3u">
					<div id="sidebar2">
						<section>
							<div class="sbox1">
								<h2>软枣知识</h2>
								<ul class="style1">
									<li class="first"><a href="#">软枣简介</a></li>
									<li><a href="#">营养桂冠</a></li>
									<li><a href="#">软枣猕猴桃在国内的分布情况</a></li>
									<li><a href="#">软枣－长寿果</a></li>
									<li><a href="#">&nbsp;</a></li>
								</ul>
							</div>
						</section>
						<section>
							<div class="sbox2">
								<h2>最新资讯</h2>
								<ul class="style1">
									<li class="first"><a href="#">软枣子第三代功能食品开发</a></li>
									<li><a href="#">&nbsp;</a></li>
									<li><a href="#">&nbsp;</a></li>
									<li><a href="#">&nbsp;</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div class="6u">
					<div class="mobileUI-main-content" id="content">
						<section>
							<div class="post">
								<h2>关于我们</h2>
								<p><strong>本溪绿康生态农业有限公司</strong> 位于辽宁省本溪满族自治县东营坊乡，是一家集野生软枣研发、种植、生产运营于一体的科研型企业，野生软枣猕猴桃（俗称软枣子）种植基地1500余亩，种植面积位居全国首位。</p>
								<p>
									公司拥有一支专业技术过硬的科技研发团队，其软枣子种植技术成熟，自2012年软枣子果实生产以来，公司坚持生产与科研相结合，充分利用辽东山区天然的资源优势，大力开发野生软枣猕猴桃资源，开发 “康C软枣子”的软枣猕猴桃，是目前市场上唯一一家优质大果的软枣子生产企业。
								</p>
 								<p>
 									本公司现有“康C软枣子”的果实生产示范园，种苗繁育园。现有种苗繁育园500亩，大小苗齐全，可大量供应全国各地用户，果实生产园1000亩。公司与沈阳农业大学合作，建立了软枣苗木组培生产基地，本公司是国内目前软枣子组培苗生产产量大、品质优的现代化农业企业。
 								</p>
 								<p>
 									“康C软枣子”是本溪绿康生态农业有限公司研发的优良品种，经过三年多的试验研究，掌握了该品种的生物学特性及栽培技术要点，2013年该品种通过了辽宁省非主要农作物品种审定委员会审定。
 								</p>
 								<p>
 									未来五年，公司将继续扩大种植面积，加大与农民合作社的开发，预计2019年，种植面积可达3万亩，年果实生产量达3万吨。
 								</p>	
							</div>
						</section>
					</div>
				</div>
				<div class="3u" id="sidebar1">
					<section>
						<h2>产品展示</h2>
						<ul class="style2">
							<li class="first">
								<p class="date"><a href="#">软枣切片</a></p>
								<p>
									<a href="/gallery"><img width="280" src="/assets/rz01.jpg" alt=""></a>
								</p>
								
							</li>
							<li>
								<p class="date"><a href="#">组培苗</a></p>
								<p>
									<a href="/gallery"><img width="280" src="/assets/rz02.jpg" alt=""></a>
								</p>
							</li>
						</ul>
						<p class="button-style3"><a href="/gallery">更多展示</a></p>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>