	<div id="nutrition">
		<div class="5grid-layout">
			<div class="row">
				<div class="9u">
					<div class="mobileUI-main-content" id="content">
						<section>
							<div class="post">
								<p><a href="#"><img src="assets/pics05.jpg" alt=""></a><br>
									<h2>软枣猕猴桃 － 营养成分</h2>
									<ul>
										抗氧化成分
										<li>抗氧化成分是身体抵御疾病的第一道防线，它们利用自由基对抗身体损伤。</li>
									</ul>
									<ul>维生素C - 5倍于橙子的维生素C含量
										<li>自然免疫- 增强抵抗力，预防流感</li>
										<li>清除体内杂质, 抗疲劳，抗衰老</li>
										<li>修复身体损伤，促进细胞生长</li>
									</ul>
									<ul>维生素E - 两倍于牛油果的维生素E的含量，但只有牛油果60%的热量
										<li>非常好的来源 - 在低脂肪的食物中很难摄取。</li>
										<li>帮助降低胆固醇，降低血栓形成几率</li>
									</ul>
									<ul>维生素A
										<li>对视力，骨骼发育，牙齿发育，生殖系统，以及皮肤健康极其重要</li>
									</ul>
								</p>
							</div>
						</section>
					</div>
				</div>
				<div class="3u" id="sidebar1">
					<section>
							<div class="sbox1">
								<h2>富含人体必需的营养</h2>
								<ul class="style1">
									<li class="first"><a href="#"><span class="key-word">维生素C</span> - 5倍于橙子的维生素C含量</a></li>
									<li><a href="#"><span class="key-word">维生素E</span> - 两倍于牛油果的维生素E的含量</a></li>
									<li><a href="#"><span class="key-word">维生素A</span> - 促进视力，骨骼发育</a></li>
									<li><a href="#"><span class="key-word">维生素B6</span></a></li>
									<li><a href="#"><span class="key-word">维生素B2</span></a></li>
									<li><a href="#"><span class="key-word">叶酸</span> - 对于女性十分重要</a></li>
									<li><a href="#"><span class="key-word">抗氧化成分</span> － 身体抵御疾病的第一道防线</a></li>
									<li><a href="#"><span class="key-word">类胡萝卜素</span></a></li>
									<li><a href="#"><span class="key-word">植物纤维</span></a></li>
								</ul>
								<h2>丰富的微量元素</h2>
								<ul class="style1">
									<li class="first"><a href="#"><span class="key-word">Potassium</span></a></li>
									<li><a href="#"><span class="key-word">Magnesium</span></a></li>
									<li><a href="#"><span class="key-word">Manganese</span></a></li>
									<li><a href="#"><span class="key-word">Copper</span></a></li>
									<li><a href="#"><span class="key-word">Calcium</span></a></li>
									<li><a href="#"><span class="key-word">Iron</span></a></li>
									<li><a href="#"><span class="key-word">Phosphorus</span></a></li>
									<li><a href="#"><span class="key-word">Selenium</span></a></li>
									<li><a href="#"><span class="key-word">Chromium</span></a></li>
									<li><a href="#"><span class="key-word">Zinc</span></a></li>
									<li><a href="#"><span class="key-word">Sodium</span></a></li>
								</ul>
							</div>
						</section>
				</div>
			</div>
		</div>
	</div>